.FighteryOptions__header {
    font-family: 'Secular One', sans-serif;
}

.FighteryOptions__subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.075rem;
    padding: 2px;
    opacity: 0.4;
}

.disabledComponent {
    transition: ease-in-out;
    opacity: 0.2;
    cursor: not-allowed;
    user-select: none;
    pointer-events: none;
}