/* .StyledDropzone__dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 128px;
} */

.StyledDropzone__dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 64px;
    border: dashed 3px rgba(255, 255, 255, 0.45);
}

.StyledDropzone__dropzone--info {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 15px;
}

.image-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-item--image {
    width: 150px;
    height: 150px;
    min-width: 150px;
    min-height: 150px;
    object-fit: cover;
}

.image-item__wrapper {
    padding: 10px;
}

.image-item__info {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    overflow: none;
    justify-content: center;
}

.image-item__info--name {
    margin-top: 0.5rem;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.image-item__info--name::placeholder {
    opacity: 0.5;
}
.image-item__info--remove {
    margin-top: 0.3rem;
    opacity: 0.4;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}